asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
Django==5.1
fonttools==4.53.1
gunicorn==23.0.0
haversine==2.8.1
idna==3.7
kiwisolver==1.4.5
matplotlib==3.9.2
nba_api==1.5.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pro-football_reference_web_scraper==0.2.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.2
whitenoise==6.7.0
