<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="/static/css/nbaplayervis.css">
</head>
<body>
    <div id="titles">
        <h1 id="chart-title">filler</h1>
    </div>
    <script>
        const chartData = JSON.parse('{{ chart_data_json|safe }}');
        const title = document.getElementById('chart-title');

        if (chartData['labels'][4] === '0' || !chartData['labels'][4])
            title.innerText = `${chartData['labels'][2]}\'s ${chartData['labels'][1].toLowerCase()} over the ${chartData['labels'][3]} season`;
        else
            title.innerText = `${chartData['labels'][2]}\'s ${chartData['labels'][1].toLowerCase()} over the past ${chartData['labels'][4]} games for the ${chartData['labels'][3]} season`;
    </script>

    <canvas id="myChart" width="400" height="175"></canvas>
    <script>
        //const chartData = JSON.parse('{{ chart_data_json|safe }}');
        const ctx = document.getElementById('myChart').getContext('2d');

        const dataPoints = chartData['stat'];
        const sum = dataPoints.reduce((acc, value) => acc + value, 0);
        const average = sum / dataPoints.length;

        const avgLine = Array(dataPoints.length).fill(average);

        const winLoss = chartData['WL'].map(game => game === 'W' ? 'green' : 'red')

        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartData['matchups'],
                datasets: [
                    {
                        label: chartData['labels'][1],
                        backgroundColor: winLoss,
                        borderColor: 'black',
                        pointRadius: 4,
                        data: chartData['stat'],
                        fill: false,
                    },
                    {
                        label: `Average [${average.toFixed(2)}]`,
                        backgroundColor: "blue",
                        borderColor: "blue",
                        data: avgLine,
                        fill: false,
                        borderDash: [5, 5],
                        pointRadius: 0
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>
</body>
</html>