<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
    <h1>Data Visualization</h1>
    <h2 id="chart-title">filler</h2>
    <script>
        const chartData = JSON.parse('{{ chart_data_json|safe }}');
        const title = document.getElementById('chart-title');
        
        if (chartData['labels'][4] === '0')
            title.innerText = `${chartData['labels'][2]}\'s ${chartData['labels'][1]} over the ${chartData['labels'][3]} season`;
        else
            title.innerText = `${chartData['labels'][2]}\'s ${chartData['labels'][1]} over the past ${chartData['labels'][4]} for the ${chartData['labels'][3]} season`;
    </script>
    
    <canvas id="myChart" width="400" height="200"></canvas>
    <script>
        //const chartData = JSON.parse('{{ chart_data_json|safe }}');
        const ctx = document.getElementById('myChart').getContext('2d');
        
        const dataPoints = chartData['stat'];
        const sum = dataPoints.reduce((acc, value) => acc + value, 0);
        const average = sum / dataPoints.length;
        
        const avgLine = Array(dataPoints.length).fill(average);
        
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartData['dates'],
                datasets: [
                    {
                        label: chartData['labels'][1],
                        backgroundColor: "rgba(0, 0, 255, 0.5)",
                        borderColor: "rgba(0, 0, 255, 1.0)",
                        data: chartData['stat'],
                        fill: false,
                    },
                    {
                        label: `Average [${average.toFixed(2)}]`,
                        backgroundColor: "rgba(255, 0, 0, 0.5)",
                        borderColor: "rgba(255, 0, 0, 1.0)",
                        data: avgLine,
                        fill: false,
                        borderDash: [5, 5],
                        pointRadius: 0
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        
    </script>
</body>
</html>